cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.2
django-allauth==0.39.1
django-appconf==1.0.3
django-cleanup==4.0.0
django-crispy-forms==1.7.2
django-ipware==2.1.0
django-smtp-ssl==1.0
django-verified-email-field==1.5.1
enum-compat==0.0.2
future==0.17.1
google-auth==1.6.3
idna==2.8
oauthlib==3.0.2
pickle-mixin==1.0.2
Pillow==6.0.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycryptodome==3.8.2
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
